/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
  background: #345995;
;

}
nav ul a {
  color: #03CEA4;
}

a {
  color: #ff7961;
}

nav .brand-logo {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 2.7vw;
  color: #ff8a65;
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 4vw;
  color: tomato;
  text-align: center;

}

h5.header.col.s12.light {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 3.5vw;
  color: #fff;
}

h5.header.col.s12.light1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 3.5vw;
  color: #ffd149;
}

/*p {
  line-height: 2rem;
}*/

.center {
  font-family: "Amiko", sans-serif;
}

li {
  font-family: "Amiko", sans-serif;
}

.button-collapse {
  color: #26a69a;
}

img.background1 {
  opacity: 0.8;
}

.parallax-container1 {
  min-height: 380px;
  line-height: 0;
  height: auto;
  background-color: #fff;
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;

}

.parallax-container {
  min-height: 500px;
  line-height: 0;
}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
